/* Gaya umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffcc00; /* Warna kuning */
    color: #333; /* Warna teks coklat gelap */
}

header {
    background-color: #654321; /* Warna coklat tua */
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Tambahkan CSS berikut untuk mengatur menu responsif */
#menu-button {
    display: none; /* Sembunyikan tombol menu pada tampilan desktop */
    position: relative;
    z-index: 1000;
}

@media (max-width: 768px) {
    #menu-button {
        display: block; /* Tampilkan tombol menu pada tampilan mobile */
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    }

    .hidden-menu {
        display: none; /* Sembunyikan menu ul pada tampilan mobile */
        position: fixed;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 33%;
        background-color: black;
        padding: 10px;
        border-radius: 0px;
        z-index: 999;
        overflow-y: scroll;
    }

    .hidden-menu.show-menu {
        display: block; /* Tampilkan menu ul saat tombol menu ditekan */
    }

    .hidden-menu ul {
      background-color: black;
        list-style-type: none;
        padding: 5px;
        margin: 2.5rem;
        display: flex;
        top: 50px;
        position: relative;
        z-index: 1001;
        flex-direction: column; /* Tampilkan item-menu secara vertikal */
    }

    .hidden-menu li {
        margin-bottom: 10px;
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #654321;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
  color: #ffcc00; /* Ganti warna saat hover */
    transition: color 0.3s ease; /* Efek transisi */
}

main {
    padding: 20px;
}

card-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    overflow-x: auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    margin-right: 20px;
    position: relative;
    transition: transform 0.2s;
}

.card:last-child {
    /* Perubahan: Menghilangkan margin kanan pada kartu terakhir */
    margin-right: 0;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    color: #333;
    padding: 20px;
    flex-grow: 1;

.card h2 {
    font-size: 24px;
    margin: 0;
}

.card p {
    font-size: 16px;
    margin-top: 10px;
}

.card-shadow {
    position: absolute;
    top: 0;
    right: -20px;
    bottom: 0;
    width: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
    pointer-events: none;
}

footer {
    opacity: 0;
    transition: opacity 1s ease;
    text-align: center;
    background-color: #654321; /* Warna coklat tua */
    color: #fff;
    padding: 10px;
}

/* Gaya Khusus untuk Waktu Real-Time */
#real-time-clock {
    position: absolute;
    top: 10px; /* Jarak dari atas */
    left: 10px; /* Jarak dari kiri */
    background-color: #654321;
    color: #fff;
    padding: 5px 5px;
    border: solid 2px yellow;
    border-radius: 5px;
    font-size: 10px;
}